body {
    width: 95%;
    margin: auto;
    background-color: black;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#anounceArea {
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#yourDamageSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#hpLossSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.yourDamage {
    color: green;
}

#hpLoss1,
#hpLoss2,
#hpLoss3 {
    color: red;
}

.hpLossNum {
    color: white;
}

#dmgNum,
#enemyTarget {
    color: white;
}

#enemyArea {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}

#enemy1Section,
#enemy2Section,
#enemy3Section {
    width: 25%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

#enemy1HP,
#enemy2HP,
#enemy3HP {
    font-size: 2rem;
    text-align: center;
}

#enemy1,
#enemy2,
#enemy3 {
    height: 40vh;
}

#playerSection {
    height: 20vh;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerHP {
    width: 20%;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    text-align: center;
    font-size: 2vw;
}

#playerHPNumber {
    font-size: 10vw;
    color: red;
}

#attackSection {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    font-size: 3vw;
}

#physical:hover,
#fire:hover,
#ice:hover {
    background-color: grey;
}

#physical,
#fire,
#ice {
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    padding: 1rem;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    height: 90%;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 1rem;
}